.playlist__tracks {
    position: fixed;
    width: 100%;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 15;
    backdrop-filter: blur(10px);
    transition: 0.3s ease;
    transform: translateY(100%);

    &.active {
        transform: translateY(0%) !important;
    }

    .cancelBtn {
        width: 40px;
        height: 40px;
        margin: 30px;
        filter: contrast(0) brightness(1.5);
        cursor: pointer;
        position: absolute;
        right: 0;
    }

    .container {
        width: 80%;
        margin: auto;
        margin-top: 40px;
        display: flex;
        justify-content: flex-start;
        gap: 60px;
    }

    .info {
        display: flex;
        justify-content: space-between;
    }

    b {
        font-size: 1.1em;
    }

    .playlist_img {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        img {
            width: 250px;
            height: 250px;
            object-fit: cover;
        }
    }

    .tracks {
        margin-top: 30px;
    }

    .owner {
        display: flex;
        gap: 10px;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
        margin: 20px;
        margin-bottom: 30px;
    }

    .track {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text {
            width: 80%;
        }

        .artist {
            font-size: 0.9em;
        }

        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
        }

        .icon {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

    }
}