@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	// background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  
	img {
		display: block;
		user-select: none;
	}
  button {
    display: block;
    cursor: pointer;
    font-family: inherit;
  }
}

body {
    background-color: #0e0e0e;
}

html {
 scroll-behavior: smooth;
font-family: "Outfit", sans-serif;
}
@font-face {
	font-family: 'Krona';
	src: url('/fonts/krona.ttf');
}

@font-face {
	font-family: 'Inter';
	src: url('/fonts/inter.ttf');
}
